.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0f7fa, #d1c4e9); /* Background gradient */
  padding: 0 20px;
  overflow: hidden;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.profile-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  color: #5f52aa;
  border-right: 2px solid #000000;
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

p {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #555; /* Subtle text color */
  animation: fadeInUp 2s ease-in-out;
}

/* Fade-in animation for paragraph */
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .home-content {
    flex-direction: column;
    text-align: center;
  }

  .profile-container {
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }
}

