.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0f7fa, #d1c4e9); /* Background gradient */
  color: #000; /* Text color */
  text-align: center;
  padding: 0 20px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555; /* Subtle text color */
}

.btn-get-started {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn-get-started:hover {
  background-color: #333;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .btn-get-started {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  .btn-get-started {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
